body {
	margin: 0;
	background-color: #F5F5F5;
}

.sheet {
	margin: 0.1cm auto 0;
	background-color: #FFFFFF;
	height: 29.6cm;
	width: 21cm;
	box-shadow: 0 0 5px #C6C6C6;
}

.page {
	margin: auto;
	height: 25.6cm;
	width: 17cm;
	padding: 2cm 2cm 0 2cm;
	font-weight: 500;
	font-family: Calibri Arial sans-serif;
	font-size: 1.1em;
}

.bottom-field {
	height: 2cm;
	width: 17cm;
	padding: 0 2cm;
	text-align: center;
	text-size: 0.9em;
	color: #808080;
}

.title-page {
	text-align: center;
	font-family: 'Calibri Light' Calibri Arial sans-serif;
	font-size: 1.2em;
	quotes:  "«" "»";
}

.img-container {
	height: auto;
	overflow: hidden;
}

.table-text {
	text-align: left;
}