body {
    margin: 0;
    padding-top: 30px;
    font-size: 25px;
    line-height: 1.6;
    color: black;
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    body::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.4);
        z-index: 1;
        top: 0;
    }

*,
* ::before,
* ::after {
    box-sizing: border-box;
    z-index: 100;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.commenting{
    line-height: 20px;
    font-family: "Montserrat";
    text-align: center;
    background-color: white;
    color: black;
    font-size: medium;
  }
@font-face {
    font-family: 'pixelFont';
    src: url('mainfont-webfont.woff2') format('woff2'), url('mainfont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sectionHead {
    width: 100%;
    margin-bottom: 20px;
    font-size: 75px;
    font-family: 'pixelFont', Arial, sans-serif;
    line-height: 80px;
    padding-top: 20px;
    padding-left: 200px;
    color: white;
}

.HeadTwo {
  font-size: 80px;
  padding-top: 0px;
  padding-left: 700px;
  color: white;

}

.page {
    display: flex;
    flex-direction: column;
    min-width: 640px;
    min-height: 100vh;
    margin: 0;
    background-color: black ;
    font-size: 30px;
    line-height: 18px;
    color: gray;
    position: relative;
}

.profileImage {
    display: block;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 80%;
}

.reportDoc {
    padding-top: 20px;
    padding-bottom: 20px;
}

    .reportDoc .reportDocLink {
        font-size: 40px;
        color: wheat;
    }

.aboutP5 {
    font-weight: bolder;
    font-size: 40px;
    color:  white;
    color
    padding: 0px
  }

.githubLink
{
    color: wheat;
}

.aboutP6 {
    font-weight: bolder;
    font-size: 25px;
    color: white
}

.container{
    width: 1500px;
    margin: auto;
}
.about-content p {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
  }
 
li {
   font-size: 18px;
   font-style: initial;
   color: white;
 }

.about-content {
    width: 950px;
    font-size: 14px;
    line-height: 35px;
  }

.about {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-bottom: 32px;
   }

.page-footer .container {
    font-family: pixelFont, Arial, sans-serif;
    position: relative;
    padding-right: 16px;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    background-color: rebeccapurple;
    color: antiquewhite;
    text-align: end;
    font-size: 20px;
}

.page-footer p {
    margin: 0;
    padding: 0;
  }

.aboutP6Res {
    padding-left: 0px;
    padding-top: 20px;
  }
  
.abouth6index {
    line-height: 10px;
  }
  
.style5 {
    color: white;
  }

.arrow-left {
    position: absolute;
    z-index: 99;
    top: 10%;
    left: 1%;
    transform: translate(-8%, -50%);
    border-image-repeat: unset;
  }

.arrow-right {
    position: absolute;
    justify-content: right;
    z-index: 99;
    top: 50%;
    right: 1%;
    transform: translate(-1%, -50%);
  }
